{% extends "base.html" %}
{% block title %}Reset your password{% endblock %}
{% block body %}
        <div id = "facebook"class="container">
                <div class="card" >
                        <div class="card-header">
                                <h1 class="text-center my-3" style="color:black;">Reset the Password</h1>
                                <a class="btn btn-outline-light" style="margin-left: 90%; margin-top: -107px;" href="/" role="button"><img src="https://teq.fra1.cdn.digitaloceanspaces.com/er_map/assets/close-icon.1b11abc1.png" class="rounded-circle" style="height: 30px; width: 30px;"></a>
                        </div>
                        <div class="card-body">
                                <h1>Reset your password</h1>
                                {% if validlink %}
                                <p>Please enter your new password twice:</p>
                                <form action="." method="post">
                                        {{ form.as_p }}
                                        {% csrf_token %}
                                        <p><input type="submit" class="btn btn-outline-primary" value="Change my password" /></p>
                                </form>
                                {% else %}
                                <p>The password reset link was invalid, possibly because it has
                                already been used. Please request a new password reset.</p>
                                {% endif %}
                        </div> 
                </div>
        </div>

{% endblock  %}