{% extends 'base.html' %}
{% block title %}Reset-Password{% endblock title %}
{% block body %}
        <form  action='password_reset/' method='POST'> 
                <div class="mb-3">
                        <label for="signupInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="Email address" id="signupInputEmail1" aria-describedby="emailHelp" name="email">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>  
                <button type="submit" class="btn btn-outline-primary">Register</button>
        </form>  
{%endblock%}