<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Selector</title>
<style>
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input{
    outline: none;
    border: none;
}
.multi-selector{
    width: max-content;
}
.select-field{
    border: 1px solid rgb(187, 187, 187);
}
.select-field,.task,.list{
    width: 100%;
    background-color: white;
    padding: 0.3rem;
}
.list{
    box-shadow: 0 30px 60px rgb(0,0,0,0.2);
    display: none;
}
.down-arrow{
    font-size: 1.2rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.2s linear;
}
.task{
    display: block;
    padding-left: 0;
}
.task span{
    float: right;
    font-size: 0.6rem;
    padding-top: 6px;
}
.task:hover{
    background-color: aliceblue;
}
.show{
    display: block;
}
.rotate180{
    transform: rotate(-60deg);
}

</style>

</head>
<body>
  <form action="" method="get">  
    {% csrf_token %}
    <div class="container" style="justify-content:center;">
        <div class="col-md-18">
            <div class="multi-selector" style="width: 22rem;">

                <div class="select-field">
                    <input type="text" name="" placeholder="Choose tasks" style="text-align: center;" id="" class="input-selector">
                    <span class="down-arrow">&blacktriangledown;</span>
                </div>

                <div class="list">
                    <label for="task1" class="task">
                    <input type="checkbox" name="task_1" value="ae" id="task1">
                    United Arab Emirates

                    </label>
                    <label for="task2" class="task">
                    <input type="checkbox" name="task_2" value="ar" id="task2">
                    Argentina

                    </label>
                    <label for="task3" class="task">
                    <input type="checkbox" name="task_3" value="at"  id="task3">
                    Austria

                    </label>
                    <label for="task4" class="task">
                    <input type="checkbox" name="task_4" value="au" id="task4">
                    Australia

                    </label>
                    <label for="task5" class="task">
                    <input type="checkbox" name="task_5" value="be" id="task1">
                    Belgium

                    </label>
                    <label for="task6" class="task">
                    <input type="checkbox" name="task_6" value="bg" id="task2">
                    Bulgaria

                    </label>
                    <label for="task7" class="task">
                    <input type="checkbox" name="task_7" value="br"  id="task3">
                    Brazil

                    </label>
                    <label for="task8" class="task">
                    <input type="checkbox" name="task_8" value="ca" id="task4">
                    Canada

                    </label>
                    <label for="task9" class="task">
                    <input type="checkbox" name="task_9" value="cn" id="task1">
                    China

                    </label>
                    <label for="task10" class="task">
                    <input type="checkbox" name="task_10" value="co" id="task2">
                    columbia

                    </label>
                    <label for="task11" class="task">
                    <input type="checkbox" name="task_11" value="cu"  id="task3">
                    Cuba

                    </label>
                    <label for="task12" class="task">
                    <input type="checkbox" name="task_12" value="cz" id="task4">
                    Czech Republic

                    </label>
                    <label for="task13" class="task">
                    <input type="checkbox" name="task_13" value="eg" id="task1">
                    Egypt

                    </label>
                    <label for="task14" class="task">
                    <input type="checkbox" name="task_14" value="fr" id="task2">
                    France

                    </label>
                    <label for="task15" class="task">
                    <input type="checkbox" name="task_15" value="de"  id="task3">
                    Germany

                    </label>
                    <label for="task16" class="task">
                    <input type="checkbox" name="task_16" value="gr" id="task4">
                    Greece

                    </label>
                    <label for="task17" class="task">
                    <input type="checkbox" name="task_17" value="hk" id="task1">
                    Hong Kong

                    </label>
                    <label for="task18" class="task">
                    <input type="checkbox" name="task_18" value="hu" id="task2">
                    hungary

                    </label>
                    <label for="task19" class="task">
                    <input type="checkbox" name="task_19" value="id"  id="task3">
                    Indonesia

                    </label>
                    <label for="task20" class="task">
                    <input type="checkbox" name="task_20" value="ie" id="task4">
                    Ireland

                    </label>
                    <label for="task21" class="task">
                    <input type="checkbox" name="task_21" value="il" id="task1">
                    Israel

                    </label>
                    <label for="task22" class="task">
                    <input type="checkbox" name="task_22" value="in" id="task2">
                    India

                    </label>
                    <label for="task23" class="task">
                    <input type="checkbox" name="task_23" value="it"  id="task3">
                    Italy

                    </label>
                    <label for="task24" class="task">
                    <input type="checkbox" name="task_24" value="jp" id="task4">
                    Japan

                    </label>
                    <label for="task24" class="task">
                    <input type="checkbox" name="task_24" value="kr" id="task1">
                    Korea(South)

                    </label>
                    <label for="task25" class="task">
                    <input type="checkbox" name="task_25" value="lt" id="task2">
                    Lithuania

                    </label>
                    <label for="task26" class="task">
                    <input type="checkbox" name="task_26" value="lv"  id="task3">
                    Latvia

                    </label>
                    <label for="task27" class="task">
                    <input type="checkbox" name="task_27" value="ma" id="task4">
                    Morocco

                    </label>
                    <label for="task28" class="task">
                    <input type="checkbox" name="task_28" value="my" id="task1">
                    Malaysia

                    </label>
                    <label for="task29" class="task">
                    <input type="checkbox" name="task_29" value="ng" id="task2">
                    Nigeria

                    </label>
                    <label for="task30" class="task">
                    <input type="checkbox" name="task_30" value="nl"  id="task3">
                    Netherlands

                    </label>
                    <label for="task31" class="task">
                    <input type="checkbox" name="task_31" value="no" id="task4">
                    Norway

                    </label>
                    <label for="task32" class="task">
                        <input type="checkbox" name="task_32" value="nz" id="task1">
                        New Zealand

                    </label>
                    <label for="task33" class="task">
                    <input type="checkbox" name="task_33" value="ph" id="task2">
                    Philippines

                    </label>
                    <label for="task34" class="task">
                    <input type="checkbox" name="task_34" value="pl"  id="task3">
                    Poland

                    </label>
                    <label for="task35" class="task">
                    <input type="checkbox" name="task_35" value="pt" id="task4">
                    Portugal

                    </label>
                    <label for="task36" class="task">
                    <input type="checkbox" name="task_36" value="ro" id="task1">
                    Romania

                    </label>
                    <label for="task37" class="task">
                    <input type="checkbox" name="task_37" value="ru" id="task2">
                    Russia

                    </label>
                    <label for="task38" class="task">
                    <input type="checkbox" name="task_38" value="rs"  id="task3">
                    serbia

                    </label>
                    <label for="task39" class="task">
                    <input type="checkbox" name="task_39" value="sa" id="task4">
                    Saudi Arabia

                    </label>
                    <label for="task40" class="task">
                    <input type="checkbox" name="task_40" value="ch" id="task1">
                    Switzerland

                    </label>
                    <label for="task41" class="task">
                    <input type="checkbox" name="task_41" value="se" id="task2">
                    Swden

                    </label>
                    <label for="task42" class="task">
                    <input type="checkbox" name="task_42" value="sg"  id="task3">
                    Singapore

                    </label>
                    <label for="task43" class="task">
                    <input type="checkbox" name="task_43" value="si" id="task4">
                    Slovenia

                    </label>
                    <label for="task44" class="task">
                    <input type="checkbox" name="task_44" value="sk" id="task1">
                    slovakia

                    </label>
                    <label for="task45" class="task">
                    <input type="checkbox" name="task_45" value="th" id="task2">
                    Thailand

                    </label>
                    <label for="task46" class="task">
                    <input type="checkbox" name="task_46" value="tr"  id="task3">
                    Turkey

                    </label>
                    <label for="task47" class="task">
                    <input type="checkbox" name="task_47" value="tw" id="task4">
                    Taiwan

                    </label>
                    <label for="task48" class="task">
                    <input type="checkbox" name="task_48" value="ua" id="task1">
                    Ukraine

                    </label>
                    <label for="task49" class="task">
                    <input type="checkbox" name="task_49" value="gb" id="task2">
                    United Kindom

                    </label>
                    <label for="task50" class="task">
                    <input type="checkbox" name="task_50" value="us"  id="task3">
                    United States Of America

                    </label>
                    <label for="task51" class="task">
                    <input type="checkbox" name="task_51" value="ve" id="task4">
                    Venezuela

                    </label>
                    <label for="task52" class="task">
                    <input type="checkbox" name="task_52" value="za" id="task1">
                    South Africa
                </div>
            </div>
        </div>
        <div class="col-md-14">
            <button type="submit" class="btn btn-success" style="width: 22rem;" value="Search">Filter by Country</button>
        </div>
    </div>
  </form>

    <script>
    

     document.querySelector('.select-field').addEventListener('click',()=>{
         document.querySelector('.list').classList.toggle('show');
         document.querySelector('.down-arrow').classList.toggle('rotate180');

     });

    </script>
</body>
</html>
