{% extends 'base.html' %}

{% block title %}newsfeed{% endblock title %}


{% block body %}

  {% if user.is_authenticated %}
    <div class="jumbotron" style="color:black">
    
      <h1 style ="color:gray">
        Get All News In one Place
      </h1>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% for i in articles %}

                    <div class="card rounded shadow-lg m-2" style="width: 40rem;">
                        <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p class="card-text">{{ i.author }}</p>
                        <h5 class="card-title">{{ i.title }}</h5>
                        <p class="card-title">{{ i.source.name }}</p>
                        <p class="card-text">{{ i.description }}</p>
                        <hr>
                        <small>Date: {{ i.publishedAt }}</small>
                        <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                        </div>
                    </div>

                  {% endfor %}
            </div>

            <div class="col-md-4">
                <h3><b>Category</b></h3>
                <hr>
                <br>
                <ul class="list-group">
                    <li class="list-group-item"><a  href="{% url 'newsfeed' %}?category=technology">Technology</a></li>
                    <div class="divider dropdown-divider"></div>
                    <li class="list-group-item"><a  href="{% url 'newsfeed' %}?category=health">Health</a></li>
                    <div class="divider dropdown-divider"></div>
                    <li class="list-group-item"><a  href="{% url 'newsfeed' %}?category=Entertainment">Entertainment</a></li>
                    <div class="divider dropdown-divider"></div>
                    <li class="list-group-item"><a  href="{% url 'newsfeed' %}?category=Sports">Sports</a></li>
                    <div class="divider dropdown-divider"></div>
                    <li class="list-group-item"><a  href="{% url 'newsfeed' %}?category=Science">Science</a></li>
                    <div class="divider dropdown-divider"></div>
                    <li class="list-group-item"><a  href="{% url 'newsfeed' %}?category=Business">Business</a></li>
                </ul>
                <br>
                <h3><b>Filters</b></h3>
                <hr>
                <br>
                <form action="" method="get">
                  {% csrf_token %} 
                  
                  <div class="col-md-14">
                          <select class="form-select form-select-lg mb-3" name="country" aria-label=".form-select-lg example">
                          <option selected value="us">Select Country</option>
                          <option value="ae">United Arab Emirates</option>
                          <option value="ar">Argentina</option>
                          <option value="at">Austria</option>
                          <option value="au">Australia</option>
                          <option value="be">Belgium</option>
                          <option value="bg">Bulgaria</option>
                          <option value="br">Brazil</option>
                          <option value="ca">Canada</option>
                          <option value="cn">China</option>
                          <option value="co">columbia</option>
                          <option value="cu">cuba</option>
                          <option value="cz">Czech Republic</option>
                          <option value="eg">Egypt</option>
                          <option value="fr">France</option>
                          <option value="de">Germany</option>
                          <option value="gr">Greece</option>
                          <option value="hk">Hong Kong</option>
                          <option value="hu">hungary</option>
                          <option value="id">Indonesia</option>
                          <option value="ie">Ireland</option>
                          <option value="il">Israel</option>
                          <option value="in">India</option>
                          <option value="it">Italy</option>
                          <option value="jp">Japan</option>
                          <option value="kr">Korea(South)</option>
                          <option value="lt">Lithuania</option>
                          <option value="lv">Latvia</option>
                          <option value="ma">Morocco</option>
                          <option value="mx">Mexico</option>
                          <option value="my">Malaysia</option>
                          <option value="ng">Nigeria</option>
                          <option value="nl">Netherlands</option>
                          <option value="no">Norway</option>
                          <option value="nz">New Zealand</option>
                          <option value="ph">Philippines</option>
                          <option value="pl">Poland</option>
                          <option value="pt">Portugal</option>
                          <option value="ro">Romania</option>
                          <option value="ru">Russia</option>
                          <option value="sa">Saudi Arabia</option>
                          <option value="za">South Africa</option>
                          <option value="ch">Switzerland</option>
                          <option value="se">Swden</option>
                          <option value="sg">singapore</option>
                          <option value="si">Slavenia</option>
                          <option value="sk">slovakia</option>
                          <option value="th">Thailand</option>
                          <option value="th">Turkey</option>
                          <option value="tw">Taiwan</option>
                          <option value="ua">Ukraine</option>
                          <option value="gb">United Kindom</option>
                          <option value="us">United States of America</option>
                          <option value="ve">Venezuela</option>
                          </select>
                  </div>
                  <button type="submit" class="btn btn-success" style="width: 22rem;" value="Search">Filter by Country</button>
                          
                  
                </form>
                <hr>
                <br>
                <form action="" method="get">
                  {% csrf_token %} 
                  
                  <div class="col-md-14">
                          <select class="form-select form-select-lg mb-3" name="source" aria-label=".form-select-lg example">
                          <option selected>Select Source</option>
                          <option value="bbc-news">BBC News</option>
                          <option value="cnn">CNN</option>
                          <option value="abc-news">ABC News</option>
                          <option value="al-jazeera-english">Al Jazzera</option>
                          <option value="espn">ESPN</option>
                          <option value="fox">Fox</option>
                          </select> 
                  </div>
                  <button type="submit" class="btn btn-success" style="width: 22rem;" value="Search">Filter by Source</button>
          
                </form>     
            </div>

        </div>
    </div>
  {% else %}
  
    {% include 'banner.html' %}

  {% endif %}
  

{% endblock body %}