{% extends 'base.html' %}

{% block title %}settings{% endblock title %}


{% block body %}
        <div class="jumbotron" style="color:black">
    
                <h1 style ="color:gray">
                Get The latest news on our website
                </h1>
                
  
        </div>
{% comment %}   

        <h2>Search Country</h2>

        <form action="" method="get">
                <input type="text" name="country">
                <button type="submit" value="Search">Search</button>
        </form>
        <br>
        <br>

        <h2>Search Category</h2>

        <form action="" method="get">
                <input type="text" class="form-control" placeholder="search" aria-label="search"  name="keyword">
                <button type="submit" value="Search">Search</button>
        </form>  {% endcomment %}

        

            


        

        <div class="container">
                <div class="row">
                        <div class="col-md-8">
                                {% for i in articles %}

                                <div class="card rounded shadow-lg m-2" style="width: 40rem;">
                                        <img src="{{ i.urlToImage }}" class="card-img-top" alt="...">
                                        <div class="card-body">
                                        <p class="card-text">{{ i.author }}</p>
                                        <h5 class="card-title">{{ i.title }}</h5>
                                        <p class="card-title">{{ i.source.name }}</p>
                                        <p class="card-text">{{ i.description }}</p>
                                        <hr>
                                        <small>Date: {{ i.publishedAt }}</small>
                                        <a href="{{ i.url }}" target="_blank" class="btn btn-success m-1">See News</a>
                                        </div>
                                </div>

                                {% endfor %}
                        </div>

                        <div class="col-md-4" style="justify-content:center;">
                                <h3><b>Search</b></h3>
                                <hr>
                                <br>
     
                                <div class="row">
                                        <form action="" method="get">
                                                <div class="d-flex">
                                                        <input type="text" class="form-control" placeholder="search" aria-label="search"  name="keyword">
                                                        <button type="submit" class="btn btn-success" style="padding-top: 6px; margin-top: 0px;" value="Search">Search</button>
                                                </div>
                                        </form>
                                        
                                </div>
                                
                                <h3><b>Category</b></h3>
                                <hr>
                                <br>
                                <ul class="list-group">
                                <li class="list-group-item"><a  href="{% url 'settings' %}?category=technology">Technology</a></li>
                                <div class="divider dropdown-divider"></div>
                                <li class="list-group-item"><a  href="{% url 'settings' %}?category=health">Health</a></li>
                                <div class="divider dropdown-divider"></div>
                                <li class="list-group-item"><a  href="{% url 'settings' %}?category=Entertainment">Entertainment</a></li>
                                <div class="divider dropdown-divider"></div>
                                <li class="list-group-item"><a  href="{% url 'settings' %}?category=Sports">Sports</a></li>
                                <div class="divider dropdown-divider"></div>
                                <li class="list-group-item"><a  href="{% url 'settings' %}?category=Science">Science</a></li>
                                <div class="divider dropdown-divider"></div>
                                <li class="list-group-item"><a  href="{% url 'settings' %}?category=Business">Business</a></li>
                                </ul>
                                <br>
                                <h3><b>Filters by country</b></h3>
                                <hr>
                                <br>
                                {% include 'country_dropdown.html' %}
                                <br>
                                <h3><b>Filters by Source</b></h3>
                                <hr>
                                <br>
                                <div class="card-body">
                                        <form action="" method="get">
                                                {% csrf_token %} 
                                                <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkbox_1" value="bbc-news" id="flexCheck" >
                                                        <label class="form-check-label" for="flexCheck">
                                                         BBC News
                                                        </label>
                                                </div>
                                                <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkbox_2" value="cnn" id="flexCheck" >
                                                        <label class="form-check-label" for="flexCheck">
                                                         CNN
                                                        </label>
                                                </div>
                                                <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkbox_3" value="abc-news" id="flexCheck" >
                                                        <label class="form-check-label" for="flexCheck">
                                                         ABC News
                                                        </label>
                                                </div>
                                                <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkbox_4" value="al-jazeera-english" id="flexCheck" >
                                                        <label class="form-check-label" for="flexCheck">
                                                         Al Jazeera
                                                        </label>
                                                </div>
                                                <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkbox_5" value="espn" id="flexCheck" >
                                                        <label class="form-check-label" for="flexCheck">
                                                         ESPN
                                                        </label>
                                                </div>
                                                <div class="form-check">
                                                        <input class="form-check-input" type="checkbox" name="checkbox_6" value="fox-news" id="flexCheck" >
                                                        <label class="form-check-label" for="flexCheck">
                                                         Fox
                                                        </label>
                                                </div>
                                                <button type="submit" class="btn btn-success" style="width: 22rem;" value="Search">Filter by Source</button>
                                        </form>
                                </div>
                                
                                
                        </div>

                </div>
        </div>
{% endblock body %}