
    
    <div id = "facebook"class="container">
        <div class="card" >
            <div class="card-header">
                <h1 class="text-center my-3" style="color:black;">Reset the Password</h1>
                <a class="btn btn-outline-light" style="margin-left: 90%; margin-top: -107px;" href="/" role="button"><img src="https://teq.fra1.cdn.digitaloceanspaces.com/er_map/assets/close-icon.1b11abc1.png" class="rounded-circle" style="height: 30px; width: 30px;"></a>
            </div>
            <div class="card-body">
                <h1>Password set</h1>
                <p>Your password has been set. You can <a href="/">go back to home .</a></p>        
            </div> 
        </div>
    </div>











{% endblock body %}